/* Write your CSS here */
.bg {
  background-image: linear-gradient(#2b2c49, #b5b9ff);
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
}

.heading {
  color: #ffffff;
  font-size: 48px;
  font-family: Roboto;
}

.button {
  height: 4em;
  width: 9em;
  border-radius: 1em;
  border: none;
  font-family: Roboto;
  color: #303150;
}
